<div class="container ">
    {{ form_start(form) }}
    <div class="d-flex justify-content-center">
        {{ form_widget(form) }}
    </div>
    <div class="text-center">
        <button class="btn btn-success btn m-3">{{ button_label|default('Envoyer') }}</button>
    </div>
{{ form_end(form) }}
