<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{ asset('/images/favicon.png') }}" />
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('home') }}
    {% endblock %}
</head>
<header>
    {% block header %}{% endblock %}
</header>
<body>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
<main>
    {% block main %}{% endblock %}
</main>
<footer>
    {% block footer %}{% endblock %}
</footer>
</body>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</html>